 <ion-view title="Welcome"{{user.username}}>
<ion-nav-buttons side="right">
</ion-nav-buttons>
<ion-content padding="true">
<div class="max-width ">
  <div class="list no-margin-top">

<div class="list">

    <a class="item item-thumbnail-left" href="#/admindata">
          
      <img src="http://www.frogtownproductions.com/blogs/kittens/files/2011/04/Business_Cat3-4.jpg" style = "width: 1200%; height: 1200%;">
      <h2>Add Data</h2>
    </a>
        <a class="item item-thumbnail-left" href="#/admindata">
          
      <img src="http://cdn.meme.am/instances/500x/59860076.jpg">
      <h2>Delete Data</h2>
    </a>
            <a class="item item-thumbnail-left" href="#/admin">
          
      <img src="http://cdn.attackofthecute.com/October-05-2012-02-12-59-wewhekjhwkjeh.jpg">
      <h2>Go to Reports</h2>
    </a>


</div> </div></div></ion-content>