 <ion-view title="Welcome Admin" cache-view="false">
<ion-nav-buttons side="right">
</ion-nav-buttons>
<ion-content padding="true">
<div class="max-width ">
  <div class="list no-margin-top">

<div class="list">

    <a class="item item-thumbnail-left" href="#/riskreport">
          
      <img src="http://www.frogtownproductions.com/blogs/kittens/files/2011/04/Business_Cat3-4.jpg" style = "width: 1200%; height: 1200%;">
      <h2>Create Risk Assessment Report</h2>
    </a>
        <a class="item item-thumbnail-left" href="#/actiontype">
          
      <img src="http://cdn.meme.am/instances/500x/59860076.jpg">
      <h2>Create Action Report</h2>
    </a>
            <a class="item item-thumbnail-left" href="#/riskreport">
          
      <img src="http://cdn.attackofthecute.com/October-05-2012-02-12-59-wewhekjhwkjeh.jpg">
      <h2>Incident Investigation</h2>
    </a>

            <a class="item item-thumbnail-left" href="#/workspacereport">
          
      <img src="http://www.pcdominion.com/images/StackerCatInspection.jpg">
      <h2>Workspace Inspection</h2>
    </a>

            <a class="item item-thumbnail-left" href="#/workspacereport">
          
      <img src="http://cdn.meme.am/instances/500x/58417766.jpg">
      <h2>Internal/External Audits</h2>
    </a>
        <a class="item item-thumbnail-left" href="#/riskreport">
          
      <img src="http://cdn.meme.am/instances/58832499.jpg">
      <h2>HSE Meetings</h2>
    </a>

</div> </div></div></ion-content>