    <ion-view title="Admin Data" cache-view="false">
<ion-nav-buttons side="right">
</ion-nav-buttons>
<ion-content padding="true">
<div class="max-width ">
  <div class="list no-margin-top">
<br><br>

    <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
        <input type="text" placeholder="Manager Name" autocorrect="off" autocapitalize="none" ng-model="data.manager">
<!-- 
        <textarea placeholder="Manager Name" ng-model="data.manager"></textarea> -->
      </label></div>
    <div class = "col">
<button class="button button-dark" ng-click="addManager()" >

Add Manager</button>
    </div></div>


    <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
        <input type = "text" placeholder="Manager Rep" ng-model="data.representative">
      </label></div>
    <div class = "col">
<button class="button button-dark" ng-click="addRep()"> Add Manager Rep</button>
    </div></div>

        <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
            <input type="text" placeholder ="Incident Type" ng-model="data.incident">
      </label></div>
    <div class = "col">
<button class="button button-dark"  ng-click="addIncidentType()"> Add Incident Type</button>
    </div></div>

            <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
        <input type="text" placeholder="Category" ng-model="data.category">
      </label></div>
    <div class = "col">
<button class="button button-dark" ng-click="addCategories()"> Add categories</button>
    </div></div>

            <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
               <input type="text" placeholder="Add Department" ng-model="data.department">
      </label></div>
    <div class = "col">
<button class="button button-dark" ng-click="addDepartment()"> Add Department</button>
    </div></div>

        <div class = "row">
    	    <div class = "col">
      <label class="item item-input">
               <input type="text" placeholder="Meeting Type" ng-model="data.meeting">
      </label></div>
    <div class = "col">
<button class="button button-dark" ng-click="addMeetingType()"> Add Meeting Type</button>
    </div></div>
    </div></div>
</ion-content>