     




<ion-view title="Report Incident">
<ion-content padding="true">
<!-- <form> -->

<div class="list list-inset">

  <label class="item item-input item-select">
    <div class="input-label">
      Category
    </div>
    <!-- TODO: Load Dynamically -->
    <select> 
      <option value="1">Fire</option>
      <option value="2">Accident</option>
      <option value="3">Property Damage</option>
      <option value="4">Theft</option>
      <option value="5">Other</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Sub-Category
    </div>
    <!-- TODO: Load Dynamically - only once user has selected cateogory -->
    <select> 
      <option value="1">Fire</option>
      <option value="2">Accident</option>
      <option value="3">Property Damage</option>
      <option value="4">Theft</option>
      <option value="5">Other</option>
    </select>
  </label>

  <label class="item item-input">
    <textarea placeholder="Description"></textarea>
  </label>
<!--
     <button >Select Picture</button>
          <img ng-src="ImageURI" id="smallimage">
          <input type="text" ng-model="ImageURI" size="30"/>
-->
  <!-- TODO: Proper loading and callbacks - perhaps we should load the image once the user has added it? -->
  <button class="button button-outline button-block button-positive" ng-click="ShowPictures()">Add Image</button>
  <button class="button button-outline button-block button-positive">Add Location</button>
  <button class="button button-outline button-block button-positive">Add Time</button>

  <br>
    <button class="button button-block button-positive" ng-click=submit()>Submit</button>
</div>
</div>

 <!--  <div class="wrapper" id ="rcorners3"  style = "padding-bottom: 10px;"> 
   <div class="col"  style = "padding-bottom: 10px;">
    <select class="ion-input-select"   style = "padding-bottom: 10px;">
      <option value="" disabled selected>Category of Incident</option>
      <option value="1">Fire</option>
      <option value="2">Accident</option>
      <option value="3">Property Damage</option>
      <option value="4">Theft</option>
      <option value="5">None of These</option>
    </select>


    <div class="row"  style = "padding-bottom: 10px;">
      <label class="item item-input"  style = "padding-bottom: 10px;">
        <input type="text" placeholder="Title">
      </div>
    </label>
    <div class="row" >
      <label class="item item-input">
        <input type="text" placeholder="Description">
      </label>
    </div>
    <br><br>

    <div class="row" >
     <button class="button button-dark" >Add Image</button>
   </div>
   <div class="row" align="center">
    <button class="button button-dark" >Add Location</button>
  </div>
  <div class="row" align="center">
    <button  class="button button-dark">Cureent Time</button>
  </div> 
</div> -->

