<ion-view title="Safe@Scneider" ng-init="Initialize3()" cache-view="false">
<ion-nav-buttons side="left">
<button class="button button-clear" ng-click="myGoBack()"><i class="icon ion-arrow-left-c" style = "color: green" ></i> </button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
<button class="button button-clear icon ion-home" ng-click="myHome()"></button>
</ion-nav-buttons>

<ion-content padding="true">
<form name="myForm">

  <div class="max-width ">
    <div class="list no-margin-top">

      <center><img src = "http://www.defenddemocracy.org/content/uploads/general/Schneider_Electric_Logo.gif"></center>
      
      <div class="bar bar-balanced">
        <h1 class="title">Workplace Inspection Form</h1>
      </div><br><br><br>

  <div class = "col">
    <label class="item item-input">

      <span class="input-label" style = "color: #29a329; font-size : 14px">Inspection Date</span>

      <input type="date" id="FromDate" name="FromDate" 
      value="{{d }}" ng-model="data.date" class="date" />
    </div>
    <div class = "col">
      <label class="item item-input item-select">
        <div class="input-label" style = "color: #29a329; font-size : 14px">
          Plant/Department
        </div>
      <select ng-options="department for department in departments" ng-model="data.optionSelected"  required>
        <option   value="{{department}}">{{department}}</option> 
        <select>
        </label>
      </div>

      <div class ="col">
        <label class="item item-input">
          <input type = "text" placeholder="Inspector" name = "desc" ng-pattern="/^[a-zA-Z\s]*$/" ng-messages="myForm.desc.$error" ng-model="data.description" required>
        </label></div>
        <div ng-messages="myForm.description.$error">
          <div ng-message="required">This field is required</div>
          <div ng-message="pattern">Must be a valid 10 digit phone number</div>
        </div>


        <ion-radio ng-repeat="item in choice"
        ng-value="item.value"
        ng-change="choiceChanged(item)"
        ng-checked="item.selected"
        ng-model="choiceWorkSpace"style = "margin-left: 5px; margin-right: 5px; color: #29a329; font-size : 14px; height: 50px" >
        <div class ="row" >  
          {{ item.text }}
        </div>
      </ion-radio>


      <!-- TODO: Proper loading and callbacks - perhaps we should load the image once the user has added it? -->
      <button class="button button-icon icon ion-camera" ng-click="getPhoto()"></button>
      <img data-ng-src="{{incident.imgURI}}" class="center" style="max-width: 100%" ng-show="displayImage()">
      <!--   <button class="button button-outline button-block button-positive" ng-click="ShowPictures()">Add Image</button> -->

      <!-- Location Buttons -->
      <div class = "row no-padding" style = "margin-left : 0px">
        <!-- TODO: fix - no-padding-left and right not working. -->
        <div class = "col no-padding-left" style = "margin-left : -5px">
          <button class="button button-outline button-block button-balanced" style = "margin-left : -5px" ng-click = "ShowLocation()">
            <i class="ion-pinpoint icon-large"> My Location</i>
          </button>
        </div>
        <div class = "col">
          <button class="button button-outline button-block button-balanced" ng-click="openModal()">
            <i class="ion-pin icon-large"> Edit</i>
          </button>
        </div>

        <div class = "col">

          <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit()">Submit</button></div>

        </form>
      </div>
    </div>
  </ion-content>


