npm install -g ios-sim<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Risk Assessment" icon-off="ion-compose" icon-on="ion-compose" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Incident Investigation" icon-off="ion-document" icon-on="ion-document" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Workplace Inspection" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/workplace">
    <ion-nav-view name="tab-workplace"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Internal/External Audits" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/audit">
    <ion-nav-view name="tab-audit"></ion-nav-view>
  </ion-tab>

    <ion-tab title="HSE meetings" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/meetings">
    <ion-nav-view name="tab-meetings"></ion-nav-view>
  </ion-tab>
<!--     <ion-tab title="Camera" icon="icon ion-camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab> -->

 <!--     <ion-tab ng-controller= "LoginController" title="Risk Assessment Report"  icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/riskreport">
            <ion-nav-view name="tab-riskreport"></ion-nav-view>
        </ion-tab>  

        <ion-tab title="Analysis" icon="ion-map" ng-click="onTabSelected()" ng-controller="RiskReportController" class="{{isTablet()}}">
  <ion-nav-view name="map-tab"></ion-nav-view> -->
<!-- </ion-tab> -->

</ion-tabs>
